@font-face {
    font-family: ns-light;
    src: url(./Noto_Sans_KR/NotoSansKR-Light.otf);
}

@font-face {
    font-family: ns-medium;
    src: url(./Noto_Sans_KR/NotoSansKR-Medium.otf);
}

@font-face {
    font-family: ns-bold;
    src: url(./Noto_Sans_KR/NotoSansKR-Bold.otf);
}

.deatail-wrap{
    padding-top: 200px;
}
.product-area{
    width: 70%;
    
    min-width: 800px;
  
    
    /*border: 1px solid black;*/
    margin: 0 auto;
    overflow: hidden;
}
.thumb-info{
    width: 35%;
   
    float: left;
    margin: 0 auto;
}
.thumbnail{
    width: 180px;
    margin: 0 auto;
}

.thumbnail>img{
   width: 180px;
   height: 180px;
   margin: 0 auto;
}

.author-name{
    font-size: 13px;
    color: darkgray;
    margin: 10px 0;
}

.dc-rate{
    font-size: 13px;
}
.product-price>span:first-child{
    color: red;
    font-weight: 550;
    font-size: 20px;
}
.product-price>span:nth-child(2){
    font-size : 13px;
    color: red;
}
.product-price>span:last-child{
    padding-left: 15px;
    font-size : 13px;
    color: darkgray;
  
    
}

.main-product{
    overflow: hidden;
    width:520px  /*확인*/
}

.product-info{
    width: 65%;
    overflow: hidden;
    float: left;
}

.product-txt{
    width: 320px;
    float: left;
}
.product-share{
    width: 200px;
    padding-top: 25px;
    float: left;
    text-align: left;  
    position: relative; 
    
    overflow: hidden;
}
.product-share>img{
    width: 20px;
    height: 20px;
}

.red-heart{
    position:absolute;
    left:26px;
    display: none;
}

.product-share>img:hover{
    cursor: pointer;
}
.warp-btn{
    clear: left;
}
.warp-btn>button{
    width: 180px;
    height: 35px;
    
    border-radius: 5px;
    margin: 30px 0;
}

.warp-btn>button:hover{
    cursor: pointer;
   
}

.btn-buy{
    background: #ffe56a;
    border: none;
}

.btn-gift{
    background-color: transparent;
    border:1px solid lightgray;
}


.emoticon-area{
    width: 70%;
    margin: 0 auto;
    min-width: 700px;
}
.warp-banner{
    text-align: center;
}
.warp-banner>img{
    width: 1000px;
    margin: 0 auto;
}
.warp-banner>img:hover{
    cursor: pointer;
}

.product-list{
    width: 800px;
    margin: 0 auto;
 
    overflow: hidden;
}

.emoticon-warp{
    width: 800px;
   
    margin: 0 auto;
    margin-top: 30px; 
   
    
    overflow: hidden;
    /*
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    */
   
}


.product-box{
    float : left;
}
.emoticon-box{
    width: 150px;
    height: 150px;
    float : left;
    /*margin-right:10px;*/
}

.emoticon-img{
    width: 110px;
    height: 110px;
    margin: 20px auto;
}
.emoticon-box img{
    width: 110px;
    height: 110px;
}
.product-box {
   position: relative;
   overflow: hidden;
}

.product-wrap{
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    border-radius: 75px;
    top:0;
    left:0;
    transform: translateY(150px);
}
.product-wrap>a{
  text-decoration: none;
  color:white;
  position: absolute;
  top: 60px;
  left:50px;
}
.product-wrap>span:first-child{
    text-decoration: none;
    color:white;
    position: absolute;
    top: 40px;
    left:60px;
  }
  .product-wrap>span:last-child{
    text-decoration: none;
    color:white;
    position: absolute;
    top: 70px;
    left:50px;
  }


.product-wrap>img{
    width: 10px;
    height: 10px;
    position: absolute;
}

.product-box:hover>.product-wrap{
    transform: translateY(0);
}

.guide-area{
    width: 800px;
    margin: 0 auto;
    height: 20px;
    margin-top: 25px;
   
    
}
.guide-close{
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    
}

.guide-txt1{
    width: 95%;
    float: left;
    margin-bottom: 5px;
  
}

/*
.guide-icon1{
    width: 5%;
    float: left;
    padding-top: 3px;
    color: lightslategray;
}
*/
.guide-icon1{
    color: lightslategray;
}
.guide-icon1:hover{
    cursor: pointer;
}
.guide1-open{
    display: none;
}

.guide1-open>ul>li{
    margin-left: 30px;
    margin-bottom: 5px;
    color: lightslategray;
    font-size:13px;
}
.active{
    transform: rotate(180deg);
}

.modal-wrap{
    margin-top: 35px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
                /*ㄴ앱솔루트대신 : 스크롤이 길어도 따라오게 해줌*/
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-top{
    
    overflow: hidden;
}
.modal-title{
   
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: left;
}
.close{
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 135px;
    color : lightslategray;
}
.close:hover{
    cursor: pointer;
}

.modal{
    background-color: #fff;
    width: 350px;
    min-width: 300px;
    height: 350px;
    min-height: 200px;
}

.modal-img{
    width: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal-img>img{
    width: 50px;
}
.modal-content>.modal-txt{
   padding: 15px;
   font-size:15px;
   font-family: ns-light;
}
.modal-content>span{
    padding-left:  10px;
}

.modal-content{
    overflow: hidden;
}
.check-icon{
    padding-left: 15px;
    padding-right: 5px;
    float: left;
    color: lightslategray;
}
.check-icon:hover{
    cursor: pointer;
}
.send-txt{
    float: left;
}

.confirm_box{
    width: 312px;
    margin: 0 auto;
}

.confirm{
    margin-top: 20px;
    width: 310px;
    height: 40px;
    font-size: 15px;
    background-color: transparent;
    border:1px solid lightgray;
    font-family: ns-medium;
    color : lightslategray;
}

.be-yellow{
    color :#ffe56a;
}
.bg-yellow{
    background-color: #ffe56a;
    color :white;
    border: none;
}

.footer{
    width: 70%;
    margin : 0 auto;
   
    margin-top: 100px;
    margin-bottom: 50px;
}

.footer>div{
    margin-top: 20px;
    font-size: 12px;
    color: lightslategray;
}





